.nav {
	height: 35px;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	background-color: #F0F8FF;
	border-radius: 8px;
}

.nav ul {
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

.nav li {
	display: inline;
	padding: 20px;
}

.nav a {
	text-decoration: none;
	color: #E62E00;
	padding: 8px 8px 8px 8px;
}

.nav a:hover {
	color: #F90;
	background-color: #FFF;
}
.media{
	
  width: 100%;
  display: flex;
  flex-direction: row;
}

.pull-left {
  width: 100px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 20px 15px;
    margin-bottom: -1px;

}
.info {
    background: #F5F5F5;
    border-radius: 6px;
    padding: 11px 18px 11px 18px;
    border-style: solid;
    border-color: #4D4D4D;
    box-shadow: 2px 2px 3px #999999;
    border-width: 1.2px;
    line-height: 25px;
    text-align: justify;
    width: 95px;
}